n8n-workflow/jobfit-ai-workflow.json
{
  "name": "resume checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -176
      ],
      "id": "966053fe-8a7f-4c43-8d4a-ab1717087337",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1bYh0WjwxM0jujHSe161B2umpig5S15uM",
          "mode": "list",
          "cachedResultName": "Akash_Ray_Resume.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1bYh0WjwxM0jujHSe161B2umpig5S15uM/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -176
      ],
      "id": "c2f47eb3-7228-4cfc-8277-62dd9c9a694a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EyQeXID8ytcY1WIQ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -96,
        -176
      ],
      "id": "9a58603a-4110-4c3e-a6be-d7269dcc715e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI",
          "mode": "list",
          "cachedResultName": "n8n Resume Checker automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -176
      ],
      "id": "0b6c3672-7c22-4bc5-82d4-f06913d750cf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCJ7ohUN4FTu7vL3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\n// Read input safely\nconst data = $input.first().json;\n\n// ✅ Corrected field names (match Google Sheet headers exactly)\nconst keywords = data.Keywords;\nconst location = data.Location;\nconst experienceLevel = data[\"Experience Level\"];\nconst remote = data.Remote;\nconst jobType = data[\"Job Type\"];\nconst easyApply = data[\"Easy Apply\"];\n\n// Keywords\nif (keywords && keywords !== \"\") {\n  url += `&keywords=${encodeURIComponent(keywords)}`;\n}\n\n// Location\nif (location && location !== \"\") {\n  url += `&location=${encodeURIComponent(location)}`;\n}\n\n// Experience Level → f_E\nif (experienceLevel && experienceLevel !== \"\") {\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map(exp => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry Level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior Level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  if (transformedExperiences.length) {\n    url += `&f_E=${transformedExperiences.join(\",\")}`;\n  }\n}\n\n// Remote / Hybrid / On-site → f_WT\nif (remote && remote !== \"\") {\n  const transformedRemote = remote\n    .split(\",\")\n    .map(e => {\n      switch (e.trim()) {\n        case \"On-site\": return \"1\";\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  if (transformedRemote.length) {\n    url += `&f_WT=${transformedRemote.join(\",\")}`;\n  }\n}\n\n// Job Type → f_JT\nif (jobType && jobType !== \"\") {\n  const transformedJobType = jobType\n    .split(\",\")\n    .map(type => type.trim().charAt(0).toUpperCase());\n\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\n// Easy Apply filter\nif (easyApply === true) {\n  url += \"&f_EA=true\";\n}\n\n// ✅ REQUIRED n8n return format\nreturn [\n  {\n    json: {\n      url\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -176
      ],
      "id": "bda398a1-3a0e-4056-be09-fd0892a4ee48",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        -176
      ],
      "id": "bc41bc59-0885-4307-89ed-d73c5c19cbd2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        704,
        -176
      ],
      "id": "49eb8835-c18a-4713-a353-9badfe25c31e",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        912,
        -176
      ],
      "id": "66e818a3-22ac-49b5-93de-064572d641ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        -176
      ],
      "id": "ac46d4a2-63d1-4adb-b516-1321b522d256",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        -448
      ],
      "id": "15ec731c-c086-4570-bbfc-c997957d7473",
      "name": "Wait",
      "webhookId": "08349519-14e5-42f0-a054-a36538072ea0"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -448
      ],
      "id": "c6a613ce-3269-4f17-8a37-378124bda46c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1"
            },
            {
              "key": "company",
              "cssSelector": ".topcard__org-name-link"
            },
            {
              "key": "location",
              "cssSelector": ".topcard__flavor--bullet"
            },
            {
              "key": "jobDescription",
              "cssSelector": ".description__text",
              "skipSelectors": ".description__text, .jobs-description-content__text"
            },
            {
              "key": "applyLink",
              "cssSelector": "link[rel=\"canonical\"]",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        864,
        -448
      ],
      "id": "824dff4c-7ef0-4538-9abd-5a541e150f11",
      "name": "HTML1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1612abe2-3e12-48f8-9fb6-e5338f9f774d",
              "name": "job_title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "98d78fa8-2a33-4940-8fa4-e8c6e77dcd24",
              "name": "company_name",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "f1e84c58-ad3f-445a-aa56-01b8bc3ea4f9",
              "name": "job_location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "c99c0af3-0753-4d55-bb18-181f36e63885",
              "name": "apply_Link",
              "value": "={{ $json.applyLink }}",
              "type": "string"
            },
            {
              "id": "37ef7c0c-2c12-4ad4-821b-abf4c04fb472",
              "name": "jobDescription",
              "value": "={{ \n  $json.jobDescription\n    .replace(/\\s+/g, ' ')\n    .slice(0, 3500)\n}}\n",
              "type": "string"
            },
            {
              "id": "69305d0b-c29d-4c99-ae62-1f6f3bd82c64",
              "name": "job_context",
              "value": "={{    `Job Title: ${$json.title} Company: ${$json.company} Location: ${$json.location}  Job Description: ${$json.jobDescription.replace(/\\s+/g, ' ').slice(0, 3000)}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -448
      ],
      "id": "2c877afb-332c-4807-95bb-880bd2c87d76",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, you are a helpful job matcher, you read my resume then analyze the given resume and job description and provide a job matching score. The score should be relevant after matchhing my resume. also write a cover letter based on my resume and the job description. cover letter must be at least 2 paragraph and ignore the name, address and signiture part from start and end\n\nif you are using special character like \\\" use \\\\ to escape it. output must be parse in json without error.\nIMPORTANT:\nReturn ONLY valid JSON.\nDo not add any explanation or extra text.\n\nThe response MUST be exactly in this format:\n\n{\n  \"score\": 85,\n  \"coverLetter\": \"Full cover letter text here\"\n}\n\njob_description: {{ $json.jobDescription }}\nmy_resume: {{ $('Extract from File').first().json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        -448
      ],
      "id": "22dabf83-2fe6-4d67-b239-8a869336c7b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1200,
        -272
      ],
      "id": "68dc90a0-59f0-40ed-af6b-08b4ae12910d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "kG6H9RNFpScUrsa9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27e86e34-c386-47a7-8a1c-34101df62bab",
              "name": "Title",
              "value": "={{ $('Edit Fields').item.json.job_title }}",
              "type": "string"
            },
            {
              "id": "3c0f366c-dd12-4b2d-b880-085b3578ebdc",
              "name": "Company",
              "value": "={{ $('Edit Fields').item.json.company_name }}",
              "type": "string"
            },
            {
              "id": "57141e9b-367d-4604-a373-3a4078869948",
              "name": "Location",
              "value": "={{ $('Edit Fields').item.json.job_location }}",
              "type": "string"
            },
            {
              "id": "910dd1fb-1f5f-4950-8807-639abed8b647",
              "name": "Apply Link",
              "value": "={{ $('Edit Fields').item.json.apply_Link }}",
              "type": "string"
            },
            {
              "id": "3127f990-c27d-442c-8be0-a6909cc6d538",
              "name": "score",
              "value": "={{ $json.output.split('score')[1].split(':')[1].split(',')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "935c04cf-4136-4fe6-bc22-e894212c652d",
              "name": "Description",
              "value": "={{ $('Edit Fields').item.json.jobDescription }}",
              "type": "string"
            },
            {
              "id": "04f5ca93-1a92-4eea-99a4-8ec6459c2c16",
              "name": "CoverLetter",
              "value": "={{ $json.output.split('coverLetter')[1].split(':')[1].trim().replace(/^\\s*/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -448
      ],
      "id": "261fb639-b6d7-4964-981a-75dda2d9b2e1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI",
          "mode": "list",
          "cachedResultName": "n8n Resume Checker automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1298384699,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit#gid=1298384699"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Company }}",
            "Location": "={{ $json.Location }}",
            "Apply Link": "={{ $json['Apply Link'] }}",
            "Score": "={{ $json.score }}",
            "Description": "={{ $json.Description }}",
            "Cover Letter": "={{ $json.CoverLetter }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply Link",
              "displayName": "Apply Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -192
      ],
      "id": "c64dddeb-9aad-4aab-bf2f-c7dfb534dc68",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCJ7ohUN4FTu7vL3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI",
          "mode": "list",
          "cachedResultName": "n8n Resume Checker automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1298384699,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlhydCAwmb7-XYaqNLYW7o6B-9Z0wwXeqBvnPtjSUiI/edit#gid=1298384699"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -176
      ],
      "id": "f92c1b5c-cb0a-40a2-9a73-a2f11ce09dc5",
      "name": "Get Existing Results",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCJ7ohUN4FTu7vL3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const existing = $items(\"Get Existing Results\")\n  .map(i => i.json[\"Apply Link\"])\n  .filter(Boolean)\n  .map(l =>\n    l.replace(/^https?:\\/\\/(www\\.)?/, '')\n     .replace(/\\/$/, '')\n     .trim()\n  );\n\nconst currentRaw = $json[\"Apply Link\"];\nif (!currentRaw) return null;\n\nconst current = currentRaw\n  .replace(/^https?:\\/\\/(www\\.)?/, '')\n  .replace(/\\/$/, '')\n  .trim();\n\nif (existing.includes(current)) {\n  return null; // duplicate\n}\n\nreturn { json: $json };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -448
      ],
      "id": "efaaebae-ff6e-44d4-b81c-71f569aa88d3",
      "name": "Deduplicate Job",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Existing Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Deduplicate Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Results": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Job": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d27bd455-7c80-4501-96fb-00ef3651a68d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "338a6476d845500a3678c881789bf5f4dc99160aa53ec32760d3b301c0bf02fc"
  },
  "id": "9i_PMDuFS3--D-XzY_fEv",
  "tags": []
}